@using WebTourist.Models;
@model IEnumerable<Attraction>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body onload="loadPage()">

    <div id="map">

    </div>

    <div class="butPossition">
        <input type="button" class="button" value="Next Route">
    </div>

    <div class="checkboxPosition">
        <input type="checkbox" name="a" value="1417"> Show excursion routes
    </div>


    <script>
        function loadPage() {
            @foreach (var item in Model)
            {
                @:ShowMarker(StringToLatLng('@item.CoordinateOGC'), '@item.Name', '@item.Description', map);
            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjUfDf5v52pKGCIKhBqlSW9IQZV3lcRJw &callback=initMap "
            async defer>

    </script>
</body>
</html>








