
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 50%;
    display:none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #C2C2FF;
    padding: 3px 7px 2px 7px;
}

th {
    text-align: left;
    padding: 5px;
    background-color: #9999FF;
    color: #fff;
}

tr:hover {
    background-color: #E0E0FF;
}