.button {
    position: relative;
    background-color: #ffffff;
    border: none;
    color: #666666;
    font-size: 20px;
    margin: 0 0 0 0;
    cursor: pointer;
    bottom: 0;
    right: 0;
    font-weight: bolder;
}

.butPossition {
    position: absolute;
    bottom: 6%;
    left: 50%;
}

#map {
    height: 100%;
  
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.checkboxPosition {
    position: absolute;
    bottom: 2%;
    left: 50%;
}